{
{% if (edge_obs_public_contact_email | default('') | trim | length) > 0 %}
  email {{ edge_obs_public_contact_email | trim }}
{% endif %}
  admin off
}

{% if (edge_obs_public_grafana_host | default('') | trim | length) > 0 %}
{{ edge_obs_public_grafana_host | trim }} {
  reverse_proxy grafana:3000
}
{% endif %}

{% if (edge_obs_public_thanos_host | default('') | trim | length) > 0 %}
{{ edge_obs_public_thanos_host | trim }} {
  reverse_proxy thanos-query:10902
}
{% endif %}
